@model SupporterCompanyModel
@{
    ViewBag.Title = "Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<style type="text/css">
    
.form-horizontal .control-group {
    margin-bottom: 10px;
}
    
</style>


<div class="span8" >
    
    <h2>Unternehmen als Unterstützer eintragen</h2>

    <p>Wenn Sie die Gemeinwohl-Ökonomie als <b>Unternehmen</b> unterzeichnen wollen, füllen Sie bitte nachfolgendes Formular vollständig aus oder kontaktieren Sie uns per Mail an <a href="mailto:info@gemeinwohl-oekonomie.org">info@gemeinwohl-oekonomie.org</a></p>

    <p>Die Unterzeichnung bedeutet, dass Sie dem (entwicklungsoffenen) Modell im großen und ganzen zustimmen (nicht in jedem Detail) und seine demokratische Umsetzung einfordern.</p>
    
    @using (Html.BeginForm()) {
    
        <div class="form-horizontal">

            <legend>Jetzt als Unterstützer eintragen</legend>
            
            <div class="control-group">
                @Html.LabelFor(m => m.CompanyName)
                <div class="controls">
                    @Html.TextBoxFor(m => m.CompanyName, new { @class = "span4"})
                </div>
            </div>
        
        
            <div class="control-group">
                @Html.LabelFor(m => m.Industry)
                <div class="controls">
                    @Html.TextBoxFor(m => m.Industry, new { @class = "span3" })
                </div>
            </div>
        
            <div class="control-group">
                @Html.LabelFor(m => m.Size)
                <div class="controls">
                    @Html.TextBoxFor(m => m.Size, new { @class = "span2"})
                </div>
            </div>
        
            <div class="control-group">
                <label>Land</label>
                <div class="controls">
                    <select>
                        <option>Österreich</option>
                        <option>Deutschland</option>
                        <option>Spain</option>
                    </select>
                </div>
            </div>
            
            <div class="control-group">
                @Html.LabelFor(m => m.Location)
                
                <div class="controls">
                    @Html.TextBoxFor(m => m.Location, new { @class = "span2"})
                    <span class="help-inline">Plz:</span>
                    @Html.TextBoxFor(m => m.ZipCode, new { @class = "span1" })
                </div>
            </div>
            
            <div class="control-group">
                @Html.LabelFor(m => m.Email)
                
                <div class="controls">
                    @Html.TextBoxFor(m => m.Email, new { @class = "span4"})
                    <p class="help-block">Wir gehen vertrauensvoll mit Ihren Daten um. Die E-Mail wird nirgendwo öffentlich angezeigt.</p>
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(m => m.Url)
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on">http://</span>
                        @Html.TextBoxFor(m => m.Url, new { @style = "width:245px;"})
                    </div>
                </div>
            </div>
            
            <div class="control-group">
                @Html.LabelFor(m => m.Password)
                <div class="controls">
                    @Html.PasswordFor(m => m.Password, new { @class = "span2"})
                </div>
            </div>
      
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Als Unterstützer eintragen</button>
            </div>
        </div>
    }

</div>


