@using GwoDb
@using GwoDb.Web.Context
@{
    ViewBag.Title = "Suche";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sessionUser = ServiceLocator.Resolve<SessionUser>();
}
    
@model SearchCompanyModel
           
<style>
    .item:hover{ background-color: lightyellow;}
</style>

<div class="span6">

    @using (Html.BeginForm()) {
    
        <div class="form-search well">
            @Html.TextBoxFor(m => m.SearchTerm, new{@class="input-xlarge"})
            <input type="submit" class="btn btn-primary" value="Suche"/>
        </div>
    
        <div style="margin-top: -16px; margin-bottom: 5px;">@Model.ResultCount Unternehmen</div>

        if (Model.ResultCount > 0)
        {
            <div style="padding-top: 1px;">@Html.Pager(Model.Pager)</div>
    
            foreach (var item in Model.Organisations)
            {
                <div class="item" style="padding:6px; width: 700px;"  id="divRow-@item.Id">
                
                    <div style="width: 100px; height: 50px; float: right; ">
                        @if (sessionUser.IsAdmin)
                        {
                            <a href="/SearchCompany/Details/@item.Id">[edit]</a>
                            <a data-toggle="modal" data-copmpanyId="@item.Id" href="#modalDelete">[x]</a>   
                        }
                    </div>

                    <div style="width: 550px; ">
                        @if (item.Balance2011)
                        {
                            <img src="/Content/gwb-blue.png" style="float: left; padding-right: 7px;"/>
                        }
                        @if (item.Balance2012)
                        {
                            <img src="/Content/gwb-red.png" style="float: left; padding-right: 7px;"/>
                        }
                        <span style="font-size: 17px;">@item.Name</span><br/>
                        @item.Location <a href="@item.Url">@item.Url</a><br/>
                        <i>Branche:</i> @item.Industry  &nbsp; <i>Mitarbeiter:</i> @item.Size
                    </div>
                </div>
            }
    
            <div style="padding-top: 15px;">@Html.Pager(Model.Pager)</div>         
        }
        else
        {
            <div>Keine Treffer</div>
        }
    }
</div>

@Html.Partial("_DeleteEntitiyModal")